@use '../utils/variables' as v;

.navbar {
    background-color: v.$navbar-bgcolor;
    color: white;
    font-family: v.$nunito;
    font-weight: v.$nunito-weight-light;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    .gen-text {
        padding: 1rem;
        .gen-text-bold {
            font-weight: v.$nunito-weight-bold;
        }
    }

}