@use '../utils/variables' as v;

.palette {
    font-family: v.$nunito;
    font-size: 24px;
    text-align: right;
    display: flex;
    flex-direction: column;
    .palette-single {
        width: 100%;
        min-height: 80px;
        display: inherit;
        flex-grow: 1;
        justify-content: flex-end;
        .palette-single-hex-color {
            font-weight: v.$nunito-weight-bold;
            padding: 0 2rem;
            display: inherit;
            align-self: center;
            text-align: right;
        }
    }
}